n8n/workflow_base.json
{
  "name": "Job Matcher MVP Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apply",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "webhookId": "webhook-job-match-apply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/score",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "candidate",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"candidate\"]}}"
            },
            {
              "name": "job",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"job\"]}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{$node[\"Webhook\"].json[\"headers\"][\"authorization\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Call FastAPI Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        350,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call FastAPI Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call FastAPI Scoring": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}